


body {
    margin: 0px;
    min-height: 2000px;
    background-color: rgb(137, 126, 212);
}

#navbar {
  background-color: #000; 
  position: fixed;          /*l'élément est fixé par rapport à la fenêtre du navigateur*/
  display: flex;            /*Permet de pouvoir utiliser le système Flexbox qui permet d'organiser les élément a l'interieur de la navbar*/
  align-items: center;      /*Permet de centrer l'élément dans ça propre zone */
  top: 0; 
  width: 100%; 
  height: 65px;
}

#navbar a {
  float: left;
  color: white;
  display: flex;
  text-align: center;       /*Centre en Vertical grace a la display:flex / inverse de justify-content qui lui le fait horizontalement*/
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  color: #DAA520;
}


#bandeau_elden_ring {
    background-image:url("Images/elden_ring/bandeau_background_fond.jpg");
    background-position: 50% ;
    position: fixed;        

    width: 100%;
    height: 50px;
    top: 65px;
    transition: top 0.75s;
    
    display: flex;              
    justify-content: center;    /*Centre horizontalement grace a la display:flex*/
    align-items: center;        /*Centre verticalement grace a la display:flex*/
}   

#bandeau_elden_ring.cache {
    top: -50px;
}

#elden_ring_img {
    display: flex;
    justify-content: center;
    width: 200px;
}

#sommaire {
  display:flexbox;
  width: 100%;
  margin-top: 120px;
  padding-bottom: 30px;
  scroll-margin-top: 500px;
}

#sommaire h1 {
  margin-left: 15%;
  font-family: "Dynalight", cursive;
  font-size: 75px;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-left: 10%;
  margin-bottom: 50px;
  font-family: "Dynalight", cursive;
  color: black;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #000;
}

a:visited {
  color: black;
}

h1 a {
  text-decoration: none;
}

#sommaire a {
  text-decoration: none;
}

#titre_liste_aide {
  margin-top: 150px;
}

#sommaire li {
  margin-left: 30%;
  font-family: "IBM Plex Serif", serif;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
}

#titre_liste_succes {
  scroll-margin-top: 70px;
}
#titre_liste_aide{
  scroll-margin-top: 70px;
}

.succes {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
  border: 5px solid black;
  width:65%;
  overflow:auto;
  
}
.succes div {
  float:left;
}

.images {
  width: 300px;
  height: 170px;
  display: block;
}
.description {
  background-color: aqua;
  box-sizing: border-box; /*Permet de comprendre dans le width la totaliter des couche = contenu + padding + bordure */
  flex: 1;                /*permet de prendre toute la largeur possible*/
}

.nom_succes{
  margin-left: 7%;
  font-family: "Dynalight", cursive;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
}

.description_succes {
  margin-left: 7%;
  font-family: "IBM Plex Serif", serif;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
}

@media (width < 950px) {
  .succes {
    flex-direction: column;   /*permet de passer des div en ligne pour les placer en colonne*/
    border: none;
  }

  .images {
    width: 280px;
    height: 160px;
    border: 10px solid black;
    margin: auto;
  }
  .description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    border: 5px solid black;
  }
}